*.pyc
/__pycache__
/NOTES
/Testing

/Beacon/DISTANCE/staight/*
/Beacon/DISTANCE/tcross/*
/Beacon/DISTANCE/triangle/*
/Beacon/DISTANCE/xmas/*

/Beacon/PHASE/staight/2ft/*
/Beacon/PHASE/staight/3ft/*
/Beacon/PHASE/staight/4ft/*
/Beacon/PHASE/staight/5ft/*
/Beacon/PHASE/staight/6ft/*

/Beacon/PHASE/tcross/2ft/*
/Beacon/PHASE/tcross/3ft/*
/Beacon/PHASE/tcross/4ft/*
/Beacon/PHASE/tcross/5ft/*
/Beacon/PHASE/tcross/6ft/*

/Beacon/PHASE/triangle/2ft/*
/Beacon/PHASE/triangle/3ft/*
/Beacon/PHASE/triangle/4ft/*
/Beacon/PHASE/triangle/5ft/*
/Beacon/PHASE/triangle/6ft/*

/Beacon/PHASE/xmas/2ft/*
/Beacon/PHASE/xmas/3ft/*
/Beacon/PHASE/xmas/4ft/*
/Beacon/PHASE/xmas/5ft/*
/Beacon/PHASE/xmas/6ft/*


/DevKit/DISTANCE/staight/*
/DevKit/DISTANCE/tcross/*
/DevKit/DISTANCE/triangle/*
/DevKit/DISTANCE/xmas/*

/DevKit/PHASE/staight/2ft/*
/DevKit/PHASE/staight/3ft/*
/DevKit/PHASE/staight/4ft/*
/DevKit/PHASE/staight/5ft/*
/DevKit/PHASE/staight/6ft/*

/DevKit/PHASE/tcross/2ft/*
/DevKit/PHASE/tcross/3ft/*
/DevKit/PHASE/tcross/4ft/*
/DevKit/PHASE/tcross/5ft/*
/DevKit/PHASE/tcross/6ft/*

/DevKit/PHASE/triangle/2ft/*
/DevKit/PHASE/triangle/3ft/*
/DevKit/PHASE/triangle/4ft/*
/DevKit/PHASE/triangle/5ft/*
/DevKit/PHASE/triangle/6ft/*

/DevKit/PHASE/xmas/2ft/*
/DevKit/PHASE/xmas/3ft/*
/DevKit/PHASE/xmas/4ft/*
/DevKit/PHASE/xmas/5ft/*
/DevKit/PHASE/xmas/6ft/*


/HTML/images/charts/PHASE/staight/*
/HTML/images/charts/PHASE/tcross/*
/HTML/images/charts/PHASE/triangle/*
/HTML/images/charts/PHASE/xmas/*